* {
    margin: 0;
    padding: 0;
}

$pc: #2E3192;

.geo-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .pixel-picker-container {
        width: 100%;
        height: 100vh;
    }

    svg {
        filter: drop-shadow(0px 0px 1px #ffffff);
        width: 100%;
        height: 100vh;

        #plot_lines,
        #num_text,
        text {
            pointer-events: none;
        }
    }
}

.modal-body {
    background: $pc;
}

.btn-close {
    position: absolute;
    right: -40px;
    text-shadow: unset;
    color: red;
    line-height: unset;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: none;

    &:hover {
        color: red;
    }
}

button.btn-close {
    background-color: #ffffff;

    i {
        font-size: 1rem;
    }
}

.popover-body {
    color: #ffffff;
    display: flex;
    padding: unset;
    flex-wrap: wrap;
}

.pop-content {
    padding: (.5rem/2) (.75rem/2);
    box-sizing: border-box;
    flex-grow: 1;

    &.road {
        flex-grow: 2;
    }

    &.size {
        flex-grow: 2;
    }

    &.facing,
    &.file-number,
    &.client-phone,
    &.plot-status,
    &.sell-date {
        flex-grow: 1;
    }

    &.client-name,
    &.client-address {
        flex-basis: 100%;
    }
}

.pop-title {
    font-weight: bold;
}

.pop-value {
    padding: 2.5px 10px;
    background: lighten($pc, 15%);
    border-radius: 5px;
    min-height: 30px;
}

.action-btns {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15px;
    right: 15px;

    .label {
        text-transform: capitalize;
        white-space: nowrap;
    }

    .button-togller {
        border-radius: 100px;
        padding: 0;
        width: 45px;
        height: 45px;
        position: relative;
        z-index: 1;
    }

    .fa-caret-right {
        position: absolute;
        right: -9px;
        font-size: 30px;
        color: #e2e3f6;
        text-shadow:
            1px -1px 0 #bcbdea, 1px -1px 0 #bcbdea, 1px 1px 0 #bcbdea, 1px 1px 0 #bcbdea;
    }

    .mark-erase {
        position: relative;
        margin-bottom: 10px;

        .cursor-types {
            background: lighten($color: $pc, $amount: 55%);
            border: 1px solid lighten($color: $pc, $amount: 45%);
            border-radius: 8px;
            padding: 10px 20px;
            position: absolute;
            top: 0;
            right: 56px;
            display: none;

            &.show {
                display: unset;
            }

            p {
                margin-bottom: 5px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(0, 140, 255);
                color: #fff;
                text-decoration: none;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                box-sizing: border-box;
                font-size: 14px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &.selected {
                    background: #2E3192;
                }
            }
        }
    }

    .color-options {
        position: relative;

        .color-option-container {
            background: lighten($color: $pc, $amount: 55%);
            border: 1px solid lighten($color: $pc, $amount: 45%);
            border-radius: 8px;
            position: absolute;
            top: 0;
            right: 56px;
            padding: 10px 20px;
            display: none;

            &.show {
                display: unset;
            }

            p {
                margin-bottom: 5px;
            }

            .colors {
                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    display: inline-block;
                    box-sizing: border-box;

                    &.color1 {
                        background-color: rgb(255, 0, 0);
                    }

                    &.color2 {
                        background-color: rgb(0, 128, 0);
                    }

                    &.color3 {
                        background-color: #0000ff;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    &.selected {
                        border: 3px solid #000;
                    }
                }
            }
        }
    }
}

.zoom-range {
    position: fixed;
    bottom: 15px;
    right: 15px;

    p {
        margin: unset;
        margin-bottom: 5px;
    }

    #amount {
        background: unset;
        outline: none;
        border: none;
        font-weight: bold;
    }
}