* {
    margin: 0;
    padding: 0;
}

$pc: #2E3192;

@mixin flex($param1, $param2: null, $param3: null) {
    @if $param1 =="row" {
        display: flex;
        flex-direction: row;
        justify-content: $param2;
        align-items: $param3;
    }

    @else if $param1 =="col" {
        display: flex;
        flex-direction: column;
        justify-content: $param2;
        align-items: $param3;
    }
}

.geo-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .pixel-picker-container {
        width: 100%;
        height: 100vh;
    }

    svg {
        filter: drop-shadow(0px 0px 1px #ffffff);
        width: 100%;
        height: 100vh;

        #plot_lines,
        #num_text,
        text {
            pointer-events: none;
        }
    }
}

.modal {
    --bs-modal-width: 1000px;

    .modal-content {
        border-radius: 18px;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
        background-color: lighten($color: $pc, $amount: 10%);

        .modal-header {
            color: #ffffff;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.25);

            .btn-close {
                // position: absolute;
                right: -45px;
                text-shadow: unset;
                color: red;
                line-height: unset;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                background: none;

                &:hover {
                    color: red;
                }
            }

            button.btn-close {
                background-color: #ffffff;

                i {
                    font-size: 1rem;
                }
            }
        }

        .modal-body {
            background: $pc;

            .table>:not(caption)>*>* {
                padding: unset;
                background-color: unset;
                border-bottom-width: unset;
                box-shadow: unset;
            }

            .table>:not(:first-child) {
                border-top: unset;
            }

            .table {
                margin-bottom: 0;
                // border: 1px solid lighten($color: $pc, $amount: 25%);
                border-radius: 16px;

                .thead {
                    // &:after {
                    //     content: "";
                    //     display: block;
                    //     width: 100%;
                    //     height: 1px;
                    //     background-color: lighten($color: $pc, $amount: 25%);
                    // }

                    .tr {
                        @include flex(row, null, center);
                        background-color: lighten($color: $pc, $amount: 50%);
                        margin: 10px;
                        border-radius: 4px;

                        .th {
                            font-weight: bold;
                            color: $pc;
                            text-transform: capitalize;
                            font-size: 18px;
                            padding: 5px 10px;

                            // &:not(:last-child) {
                            //     border-right: 1px solid lighten($color: $pc, $amount: 25%);
                            // }
                        }
                    }
                }

                .tbody {
                    @extend .thead;

                    &:after {
                        display: none;
                    }

                    .tr {
                        background-color: lighten($color: $pc, $amount: 10%);
                        // &:not(:last-child) {
                        //     border-bottom: 1px solid lighten($color: $pc, $amount: 25%);
                        // }

                        &.hoverable {
                            &:hover {
                                background: rgba($color: $pc, $alpha: .15);
                                cursor: pointer;
                            }
                        }

                        .td {
                            @extend .th;
                            color: rgba($color: #ffffff, $alpha: 1);
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }
                }

                .thead,
                .tbody {
                    .tr {

                        .th,
                        .td {
                            flex-basis: (100%/1);

                            &:nth-child(1) {
                                flex-basis: (100%/6);
                            }
                        }
                    }
                }
            }
        }
    }
}

.action-btns {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15px;
    right: 15px;

    .label {
        text-transform: capitalize;
        white-space: nowrap;
    }

    .button-togller {
        border-radius: 100px;
        padding: 0;
        width: 45px;
        height: 45px;
        position: relative;
        z-index: 1;
    }

    .fa-caret-right {
        position: absolute;
        right: -9px;
        font-size: 30px;
        color: #e2e3f6;
        text-shadow:
            1px -1px 0 #bcbdea, 1px -1px 0 #bcbdea, 1px 1px 0 #bcbdea, 1px 1px 0 #bcbdea;
    }

    .mark-erase {
        position: relative;
        margin-bottom: 10px;

        .cursor-types {
            background: lighten($color: $pc, $amount: 55%);
            border: 1px solid lighten($color: $pc, $amount: 45%);
            border-radius: 8px;
            padding: 10px 20px;
            position: absolute;
            top: 0;
            right: 56px;
            display: none;

            &.show {
                display: unset;
            }

            p {
                margin-bottom: 5px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(0, 140, 255);
                color: #fff;
                text-decoration: none;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                box-sizing: border-box;
                font-size: 14px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &.selected {
                    background: #2E3192;
                }
            }
        }
    }

    .color-options {
        position: relative;

        .color-option-container {
            background: lighten($color: $pc, $amount: 55%);
            border: 1px solid lighten($color: $pc, $amount: 45%);
            border-radius: 8px;
            position: absolute;
            top: 0;
            right: 56px;
            padding: 10px 20px;
            display: none;

            &.show {
                display: unset;
            }

            p {
                margin-bottom: 5px;
            }

            .colors {
                display: flex;

                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                    display: inline-block;
                    box-sizing: border-box;

                    &.mark {
                        background-color: #2E3192;
                    }

                    &.color1 {
                        background-color: rgb(255, 0, 0);
                    }

                    &.color2 {
                        background-color: rgb(0, 128, 0);
                    }

                    &.color3 {
                        background-color: #0000ff;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    &.selected {
                        border: 3px solid #000;
                    }
                }
            }
        }
    }
}

.zoom-range {
    position: fixed;
    bottom: 15px;
    right: 15px;

    p {
        margin: unset;
        margin-bottom: 5px;
    }

    #amount {
        background: unset;
        outline: none;
        border: none;
        font-weight: bold;
    }
}

body {
    position: relative;
}

.save-alert {
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;

    &.show {
        display: block;
    }

    .alert {
        @include flex(row, null, center);
    }
}

/***** sweet alert *****/
div:where(.swal2-container) div:where(.swal2-popup) {
    background: lighten($color: $pc, $amount: 55%);
    border-radius: 32px;
    color: $pc;

    div:where(.swal2-icon).swal2-warning {
        border-color: var(--bs-warning);
        color: var(--bs-warning);
    }
}

/***** End sweet alert *****/